<h3><p class="text-danger">
<% if @book.errors.any? %>
  <%= @book.errors.count %> errors prohibited this obj from being saved:</p></h3>
  <ul>
    <% @book.errors.full_messages.each do |message| %>
    <li><p class="text-danger"><%= message %></p></li>
    <% end %>
  </ul>
  <% end %>
</p>


    <h2>User info</h2>
      <div>
        <%= attachment_image_tag user, :profile_image, :fill, 100, 100, format:'jpeg', class: "pull-left profile-img", fallback: "no_image.jpg" %>
      </div>
      <table class="table">
        <tbody>
          <tr>
            <th>name</th>
            <th><%= user.name %></th>
         </tr>
          <tr>
            <th>introduction</th>
            <th><%= user.introduction %></th>
          </tr>
        </tbody>
      </table>

      <% if user == current_user %>
     <%= link_to '',edit_user_path(current_user.id),class: "btn btn-block btn-default glyphicon glyphicon-wrench edit_user_#{current_user.id}" %>
     <% end %>