
<div class="container">
<div class="row">
  <div class="col-xs-3">

    <%= render 'users/info',{user:current_user} %>

    <%= render 'side',{book:@book, user:current_user} %>
  </div>

  <div class="col-xs-9">
    <table class="table">

      <h2>Books</h2>
      <thead>
        <tr>
          <th></th>
          <th>Title</th>
          <th>Opinion</th>
        </tr>
      </thead>
      <% @books.each do |book| %>
      <tbody>
        <tr>
          <td>
            <%= link_to user_path(book.user.id) do %>
              <%= attachment_image_tag book.user, :profile_image,  size: '40x40', format:'jpeg', class: "pull-left profile-img", fallback: "no_image.jpg" %>
            <% end %>
          </td>
          <td>
            <%=link_to book.title, book_path(book), class: "book_#{book.id}" %>
          </td>
          <td>
             <%= book.body %>
          </td>
        <% end %>
        </tr>
      </tbody>
      </table>
  </div>
</div>
</div>